<appSettings>
    <add key="server_id" value="localhost" />
    <add key="database" value="tnsbay_school_pgc_ktd" />
    <add key="user_id" value="sarwar" />
    <add key="password" value="25UnSepML1CuLcgxZijKklIapSl0vy8NaiwjwVwh0rXxtgrsP7JvZGsFEyn6l47dfnLq9WmCKVy+4jbWqZMp/hh8iabNloeNS21GsdWy6rS/TZP0kE9lza3rxZMPjrSe" />
    <add key="tariq_api_path" value="http://crm.ospedu.com/" />
    <add key="sarwar_api_path" value="http://localhost/tnsbay/OSPWEB/" />
    <add key="update_type" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>