<appSettings>
    <add key="server_id" value="localhost" />
    <add key="database" value="osp" />
    <add key="user_id" value="root" />
    <add key="password" value="" />
    <add key="tariq_api_path" value="http://crm.ospedu.com/" />
    <add key="sarwar_api_path" value="http://ospedu.com/demo/sgc/" />
  <!--<add key="sarwar_api_path" value="http://localhost/tnsbay/OSPWEB/" />-->
    <add key="update_type" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>